<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- <staticContent>
            <mimeMap fileExtension=".py" mimeType="application/python" />
        </staticContent> -->
        <!-- <handlers>
            <remove name="PythonHandler" />
            <add name="PythonHandler" path="*.py" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python38\python.exe" resourceType="File" requireAccess="Script" />
        </handlers> -->
    </system.webServer>
    <!-- <appSettings>
        <add key="PYTHONPATH" value="C:\Users\araquino\OneDrive\Dev\onequbit.github.io\py" />
        <add key="WSGI_HANDLER" value="app.wsgi_app()" />
        <add key="WSGI_LOG" value="C:\Users\araquino\OneDrive\Dev\onequbit.github.io\log\flaskapp.log" />
    </appSettings> -->
</configuration>
